  <div class="about-container">
    <mat-grid-list cols="2" rowHeight="1:1">
      <mat-grid-tile>
        <img src="https://cdn.pixabay.com/photo/2024/04/09/03/04/ai-generated-8684869_1280.jpg" alt="Your Image" class="about-image">
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="about-text">
          <h1>About Me</h1>
          <p>
            Welcome to my portfolio! I'm Yugank Pal, a passionate software engineer with experience in developing and optimizing web applications using .NET Core,
             Angular, and modern frameworks. Currently working at Deutsche Telekom Clinical Solutions, I specialize in building reliable clinical solutions,
              reducing defects, and enhancing software performance. With a knack for problem-solving,
               I've also led impactful projects like Trial-Science Imaging and academic portals.
                Winner of college hackathons and recipient of the KC Mahindra Scholarship,
                 I thrive on learning and applying innovative solutions to complex challenges. Let's build something great together!
          </p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>