<h1>Contact</h1>
<div class="contact">
    <p>This is the contact section where you can get in touch with me.</p>
  
    <div class="contact-details">
      <p>Email: yugank&#64;gmail.com</p>
      <p>Phone: +91-9140102591</p>
      <p>Address: Budaun, Uttar Pradesh, India</p>
    </div>
  
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <div class="form-field">
            <label for="name">Name</label>
            <input id="name" type="text" name="name" ngModel required>
          </div>
      
          <div class="form-field">
            <label for="email">Email</label>
            <input id="email" type="email" name="email" ngModel required>
          </div>
      
          <div class="form-field">
            <label for="description">Description</label>
            <textarea id="description" name="description" ngModel required></textarea>
          </div>
  
      <button mat-raised-button color="primary" type="submit">Send</button>
    </form>
  </div>