<mat-toolbar color="primary">
    <img src="https://avatars.githubusercontent.com/u/87353778?v=4" alt="Profile Image" class="profile-image">
    <span>My Portfolio</span>
    <span class="spacer"></span>
    <button mat-button [routerLink]="['/']">Home</button>
  <button mat-button [routerLink]="['/about']">About</button>
  <button mat-button [routerLink]="['/skills']">Skills</button>
  <button mat-button [routerLink]="['/projects']">Projects</button>
  <button mat-button [routerLink]="['/contact']">Contact</button>
</mat-toolbar>