
.spacer {
    flex: 1 1 auto;
  }
  
  .navbar-content {
    display: flex;
    align-items: center;
  }
  
  .profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }