<div class="projects">
    <h1>Projects</h1>
    <div class="project-list">
      <mat-card class="project-card">
        <mat-card-header>
          <mat-card-title>Trial-Complete Clinical Solution</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Description: Enhanced a clinical trials platform by developing features for Trial-Complete AdminTools, reducing production defects by 30% and latency by 80%.</p>
          <p>Technologies: .NET Core, Angular 13+, TypeScript, RabbitMQ, PostgreSQL, JWT, ABP.NET Boilerplate, Redis.</p>
        </mat-card-content>
      </mat-card>
  
      <mat-card class="project-card">
        <mat-card-header>
          <mat-card-title>Trial-Science Imaging</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Description: Developed functionalities for managing clinical DICOM images, including chunk-based uploads that improved performance by 60-70%.</p>
          <p>Technologies: .NET Core, Angular 13+, TypeScript, Flow.js, Redis, PostgreSQL, Swagger.</p>
        </mat-card-content>
      </mat-card>
  
      <mat-card class="project-card">
        <mat-card-header>
          <mat-card-title>Student Resource Portal</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Description: Created an online portal for visualizing academic performance, publishing articles, and tracking faculty applications.</p>
          <p>Technologies: React, Node.js, Tailwind CSS, Firebase.</p>
        </mat-card-content>
      </mat-card>
  
      <mat-card class="project-card">
        <mat-card-header>
          <mat-card-title>Employee Management System</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Description: Designed a system with modules for employee and training management, featuring CRUD operations and role-based access control.</p>
          <p>Technologies: Angular 13+, .NET Framework, PostgreSQL, Ngx-Bootstrap, Form-IO.</p>
        </mat-card-content>
      </mat-card>
  
      <mat-card class="project-card">
        <mat-card-header>
          <mat-card-title>Hackathon Projects</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Description: Developed innovative solutions for tourist during hackathons, securing top positions among 10+ teams.</p>
          <p>Achievements: 2nd place in college hackathon, 1st in KC Mahindra Scholarship, and GeeksForGeeks institute rank 3.</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>